@media screen and (max-width: 375px) {

    header,
    main,
    footer {
        width: 375px;
    }

    .container {
        width: 335px;
        margin: 24px 20px 0 20px;
    }

    .btn-primary {
        width: 174px;
        height: 52px;
        font-size: 20px;
        line-height: normal;
        margin-top: 24px;
    }

    .left-head {
        font-size: 20px;
        line-height: normal;
    }

    p,
    .p1 {
        font-size: 14px;
        line-height: 24px;
        padding-top: 16px;
    }

    .p2 {
        font-size: 14px;
        line-height: 24px;
    }

    .title {
        font-size: 20px;
    }

    /* explore starts */
    .explore {
        width: 335px;
        height: 483px;
        margin-top: 17.8px;
    }

    .explore h2 {
        font-size: 1.375rem;
    }

    .explore p {
        font-size: 0.875rem;
        width: 304px;
        padding-top: 8px;
        padding-bottom: 32px;
    }

    .explore-option {
        width: 287px;
        padding: 16px;
        flex-direction: column;
        gap: 16px;
    }

    .explore-option input {
        width: 255px;
        height: 52px;
        border: none;
    }

    .icon[type='text'] {
        background-image: url(../images/input.svg);
        background-position: 216px 14px;
        background-repeat: no-repeat;

    }

    .btn-search {
        width: 255px;
        height: 52px;
    }

    /* tour starts  */
    .tour {
        flex-direction: column;
        justify-content: space-between;
        gap: 24px;
    }

    .tour-text {
        width: 335px;
    }

    .list {
        padding-top: 16px;
    }

    .list ul li:first-child {
        padding-top: 0;
    }

    .list ul li {
        width: 315px;
        padding-top: 12px;
    }

    /* destination starts */

    .destination {
        text-align: center;
    }

    .destination>p {
        font-size: 14px;
        line-height: 24px;
        /* 171.429% */
        width: 309px;
    }

    .destination-sec {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }

    .place {
        border-radius: 16px;
        width: 335px;
        height: 176px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .place5 {
        background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../images/Rectangle\ 9.2.png"), lightgray 50% / cover no-repeat;
    }

    .place p {
        font-size: 20px;
        font-weight: 700;
        padding: 0;
    }

    /* Choose */
    .choose {
        text-align: center;
    }

    .choose>p {
        width: 309px;
        margin: 0 auto;
    }

    .choose-card {
        gap: 16px;
        margin-top: 16px;
    }

    .choose-card .card {
        padding: 32px;
    }

    .choose-card .card h3 {
        font-size: 20px;
        font-weight: 800;
        line-height: normal;
        padding-top: 16px;

    }

    .choose-card .card p {
        width: 271px;
        padding-top: 16px;
    }

}