@media screen and (max-width: 375px) {

    header,
    main,
    footer {
        width: 375px;
    }

    .container {
        width: 335px;
        margin: 24px 20px 0 20px;
    }

    .btn-primary {
        width: 174px;
        height: 52px;
        font-size: 20px;
        line-height: normal;
        margin-top: 24px;
    }

    .left-head {
        font-size: 20px;
        line-height: normal;
    }

    p,
    .p1 {
        font-size: 14px;
        line-height: 24px;
        padding-top: 16px;
    }

    .p2 {
        font-size: 14px;
        line-height: 24px;
    }

    .title {
        font-size: 20px;
    }

    /* menu starts */
    nav {
        width: 335px;
        height: 64px;
        margin: 18px 20px 0 20px;
        position: relative;
    }

    .menu .logo {
        display: flex;
        align-items: center;
        gap: 9.95px;
    }

    .hamburger {
        visibility: visible;
        cursor: pointer;
    }

    .menu .logo h1 {
        font-size: 21.543px;
    }

    .menu .logo h1 span {
        font-size: 21.543px;
    }

    .menu>ul {
        position: absolute;
        visibility: hidden;
        flex-direction: column;
    }

    /* explore starts */
    .explore {
        width: 335px;
        height: 483px;
        margin-top: 17.8px;
    }

    .explore h2 {
        font-size: 1.375rem;
    }

    .explore p {
        font-size: 0.875rem;
        width: 304px;
        padding-top: 8px;
        padding-bottom: 32px;
    }

    .explore-option {
        width: 287px;
        padding: 16px;
        flex-direction: column;
        gap: 16px;
    }

    .explore-option input {
        width: 255px;
        height: 52px;
        border: none;
    }

    .icon[type='text'] {
        background-image: url(../images/input.svg);
        background-position: 216px 14px;
        background-repeat: no-repeat;

    }

    .btn-search {
        width: 255px;
        height: 52px;
    }

    /* tour starts  */
    .tour {
        flex-direction: column;
        justify-content: space-between;
        gap: 24px;
    }

    .tour-text {
        width: 335px;
    }

    .list {
        padding-top: 16px;
    }

    .list ul li:first-child {
        padding-top: 0;
    }

    .list ul li {
        width: 315px;
        padding-top: 12px;
    }

    /* destination starts */

    .destination {
        text-align: center;
    }

    .destination>p {
        font-size: 14px;
        line-height: 24px;
        /* 171.429% */
        width: 309px;
    }

    .destination-sec {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }

    .place {
        border-radius: 16px;
        width: 335px;
        height: 176px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .place5 {
        background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../images/Rectangle\ 9.2.png"), lightgray 50% / cover no-repeat;
    }

    .place p {
        font-size: 20px;
        font-weight: 700;
        padding: 0;
    }

    /* Choose */
    .choose {
        text-align: center;
    }

    .choose>p {
        width: 309px;
        margin: 0 auto;
    }

    .choose-card {
        gap: 16px;
        margin-top: 16px;
    }

    .choose-card .card {
        padding: 32px;
    }

    .choose-card .card h3 {
        font-size: 20px;
        font-weight: 800;
        line-height: normal;
        padding-top: 16px;

    }

    .choose-card .card p {
        width: 271px;
        padding-top: 16px;
    }

    /* discount  */
    .discount>p {
        width: 309px;
    }

    .discount-parts {
        margin-top: 16px;
        gap: 16px;
    }

    .discount-part {
        width: 335px;
        height: 500px;
        padding: 131px 16px 16px 16px;
    }

    .discount-part2 {
        padding: 131px 16px 16px 16px;
    }

    .discount-card {
        width: 303px;
        height: 351px;
        padding: 25px;
    }

    .discount-details {
        display: flex;
        flex-wrap: wrap;
    }

    .discount-details .discount-detail {
        display: flex;
        gap: 8px;
    }

    .discount-details .discount-detail i {
        color: rgba(255, 84, 0, 1);
        font-size: 24px;
    }

    .discount-card h2 {
        font-size: 20px;
        padding-top: 18px;
    }

    .discount-card>p {
        width: 254px;
        padding-top: 8px;
    }

    .discount-card .price {
        font-size: 16px;
    }

    .discount-card .btn-book {
        width: 130px;
        height: 40px;
        font-size: 18px;
        margin-top: 16px;
        margin-bottom: 24px;
    }

    .discount button {
        visibility: hidden;
        position: absolute;
    }

    /* place  */
  /*  .place {
        display: flex;
        flex-direction: column;
        gap: 28px;
    }

    .place .place-text {
        width: 532px;
        height: 424px;
    }

    .place .place-text h2 {
        width: 448px;
        color: #131318;
        font-family: Mulish;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: 60px;

    }

    .place .place-text p {
        width: 532px;
        color: #5A5A5D;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        padding-top: 24px;
        text-align: left;
    }

    .place-text ul li {
        list-style: disc;
        width: 525px;
        color: #131318;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
        margin-left: 20px;
        padding-top: 16px;
    }

    .place .place-video video {
        width: 610px;
        height: 424px;
        border-radius: 16px;
    }

*/

    /* newsletter */
    .newsletter {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 24px;
    }

    .newsletter-text {
        width: 335px;
        height: 353px;
        padding: 23px 24px 23px 23px;
    }

    .newsletter-text h3 {
        font-size: 20px;
    }

    .newsletter-text p {
        width: 270px;
        font-size: 14px;
        line-height: 24px;
        /* 171.429% */
        padding-top: 8px;
    }

    hr {
        margin: 16px 0 16px 0;
    }

    .newsletter input {
        width: 288px;
    }

    .newsletter-text input[type='placeholder'] {
        font-size: 16px;
    }

    .newsletter-text input[type='email'] {
        margin-top: 16px;
        margin-bottom: 20px;
    }

    .newsletter-text button {
        width: 288px;
        height: 52px;
    }

    .newsletter-img {
        width: 335px;
        height: 300px;
        position: relative;
    }

    .newsletter-img img {
        width: 335px;
        height: 300px;
    }

    .save {
        width: 214.023px;
        height: 79.268px;
        transform: rotate(-19.628deg);
        border-radius: 10.569px;
        right: 13.1px;
        bottom: 32.86px;
    }

    .save p {
        font-size: 15.854px;
    }

    .save span {
        font-size: 21.138px;
    }


    /* footer starts */
    #footer {
        width: 375px;
        height: 309px;
        padding-bottom: 31.28px;
    }

    .footer .logo {
        gap: 9.95px;
        padding-top: 33.2px;
    }

    .footer .logo h2 {
        font-size: 21.543px;
    }

    .footer .logo h2 span {
        font-size: 21.543px;
    }

    .footer p {
        width: 287px;
        padding-bottom: 16px;
    }


    .footer hr {
        width: 335px;
        margin: 24px auto;
    }

    .footer small {
        font-size: 14px;
    }
}