* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    border: none;
    margin: 0;
    padding: 0;
}

header,
main,
footer {
    margin: 0 auto;
    width: 1440px;
}

.container {
    border-radius: 16px;
    width: 1170px;
    margin: 100px auto auto auto;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.hide {
    display: none;
}

.btn-primary {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border: none;
    margin-top: 32px;
}

.left-head {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: left;
}

p,
.p1 {
    padding-top: 24px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.p2 {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.title {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}

/* all common css */

/* menu starts */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* explore starts */
.explore {
    margin-top: 50px;
    background-image: linear-gradient(to bottom, rgba(19, 19, 24, .8), rgba(19, 19, 24, 0)), url("../images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1170px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.explore h2 {
    color: #FFF;
    font-family: Mulish;
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.explore p {
    width: 676px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    padding-top: 24px;
    padding-bottom: 48px;
}

.explore-option {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.explore-option input {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 16px;
}

.explore-option input::placeholder {
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.icon[type='text'] {
    background-image: url(../images/input.svg);
    background-position: 135px 14px;
    background-repeat: no-repeat;
}

.btn-search {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

/* tour starts  */
.tour {
    display: flex;
    justify-content: space-between;
}

.tour-text {
    width: 577px;
}

.list {
    padding-top: 24px;
}

.list ul li:first-child {
    padding-top: 0;
}

.list ul li {
    list-style: disc;
    width: 525px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    margin-left: 20px;
    padding-top: 16px;
}

.tour-img img {
    width: 100%;
}

/* destination starts */
.destination {
    text-align: center;
}

.destination>p {
    text-align: center;
    width: 643px;
    margin: 0 auto;
}

.destination-sec {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

}

.place {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.place1 {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/Rectangle\ 5.png), lightgray 50% / cover no-repeat;
    /* background-image: url("../images/Rectangle\ 5.png"); */
    width: 573px;
    height: 300px;
}

.place2 {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../images/Rectangle\ 8.png"), lightgray 50% / cover no-repeat;
    width: 573px;
    height: 300px;
}

.place3 {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../images/Rectangle\ 6.png"), lightgray 50% / cover no-repeat;
    width: 374px;
    height: 286px;
}

.place4 {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../images/Rectangle\ 7.png"), lightgray 50% / cover no-repeat;
    width: 474px;
    height: 286px;
}

.place5 {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../images/Rectangle\ 9.png"), lightgray 50% / cover no-repeat;
    width: 274px;
    height: 286px;
}

.place6 {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../images/Rectangle\ 11.png"), lightgray 50% / cover no-repeat;
    width: 473px;
    height: 300px;
}

.place7 {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../images/Rectangle\ 10.png"), lightgray 50% / cover no-repeat;
    width: 673px;
    height: 300px;
}

.place p {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 0;
}

/* Choose */
.choose {
    text-align: center;
}

.choose>p {
    width: 643px;
    margin: 0 auto;
}

.choose-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-top: 48px;

}

.choose-card .card {
    width: 573px;
    height: 284px;
    text-align: left;
    padding: 32px;
}

.choose-card .card h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 32px;
}

.choose-card .card p {
    width: 486px;
    padding-top: 16px;
}

.choose-card .card1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.choose-card .card2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.choose-card .card3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* newsletter */
.newsletter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.newsletter-text {
    width: 474px;
    height: 422px;
    padding: 40px 41px 40px 40px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.newsletter-text h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.newsletter-text p {
    width: 350px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    padding-top: 16px;
}

hr {
    margin: 24px 0 24px 0;
    border: 1px;
    background: rgba(19, 19, 24, 0.10);
    height: 1px;
    border: none;
}

.newsletter input {
    width: 393px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding-left: 16px;
}

.newsletter-text input[type='placeholder'] {
    color: rgba(19, 19, 24, 0.30);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 16px auto 16px 20px;
}

.newsletter-text input[type='email'] {
    margin-top: 16px;
    margin-bottom: 24px;
}

.newsletter-text button {
    width: 393px;
    height: 52px;
    margin-top: 0;
}

.newsletter-img {
    position: relative;
}

.save {
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    text-align: center;
    position: absolute;
    right: 10.26px;
    bottom: 51.07px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.save p {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.save span {
    color: #FFF;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* footer starts */
#footer {
    width: 1440px;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
    padding-bottom: 110px;
}

.footer {
    text-align: center;
}



.footer .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-top: 110px;
}

.footer .logo h2 {
    color: #131318;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer .logo h2 span {
    color: #FF5400;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer p {
    width: 769px;
    padding-bottom: 33px;
    margin: 0 auto;
}

.footer .social-icon {
    display: flex;
    width: 174.322px;
    height: 24px;
    justify-content: space-between;
    margin: 0 auto;

}

.footer .social-icon i {
    font-size: 24px;
}

.footer hr {
    width: 872px;
    margin: 50px auto;
}

.footer small {
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}